# Dependencias
node_modules/
vendor/

# Archivos de entorno
.env
.env.local
.env.*.local

# Logs
*.log
backend/logs/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/

# Archivos compilados
frontend/dist/